
@import url(./contents.scss);





// ? ALL ICONS WITH 
// ? ===============================

// * SUN

._1000_day, ._1030_day, ._1135_day, ._1147_day {
	border-radius: 50%;
	position:relative;	
	height: calc(5rem * var(--scale-size));
	width: calc(5rem * var(--scale-size)); 
}

// * MOON

._1000_night, ._1030_night, ._1135_night, ._1147_night {
	border-radius: 50%;	
	top: calc(-1.625rem * var(--scale-size)); 
	height: calc(6.25rem * var(--scale-size));
	width: calc(6.25rem * var(--scale-size));
	position: relative;
	left:calc(2.15rem * var(--scale-size));	
	box-shadow: calc(-1.563rem * var(--scale-size)) calc(0.625rem * var(--scale-size)) #ddf7ff;	
}


// ? PARTLY CLOUDY, CLOUDY, LIGHT RAIN, MODERATE RAIN, PATCHY RAIN, RAIN SHOWER
// ? LIGHT SNOW, PATCHY SNOW, SNOW SHOWER, MODERATE SNOW, THUNDER WITH SUN
// ? ============================================================================

// *  WHITE CLOUD + SUN

._1003_day, ._1006_day, ._1063_day, ._1150_day, ._1153_day, ._1180_day, ._1183_day, ._1198_day, ._1204_day, ._1240_day, ._1249_day, ._1186_day, ._1243_day, ._1246_day, ._1249_day, ._1192_day, ._1210_day, ._1213_day, ._1216_day, ._1219_day, ._1222_day, ._1255_day, ._1258_day, ._1261_day, ._1264_day, ._1087_day, ._1273_day, ._1279_day, ._1189_day , ._1066_day, ._1069_day, ._1072_day, ._1168_day, ._1252_day {

	background: white;
	border-radius: 50%;
	
	position:relative;
	
	box-shadow:
		0 0 0 calc(0.125rem * var(--scale-size)) white,
		inset 0 0 0 calc(0.125rem * var(--scale-size)) white,
		calc(1.438rem * var(--scale-size)) calc(-1.313rem * var(--scale-size)) 0 0 white,
		calc(1rem * var(--scale-size)) calc(0.688rem * var(--scale-size)) 0 calc(-0.5rem * var(--scale-size)) white,
		calc(2.500rem * var(--scale-size)) calc(0.375rem * var(--scale-size)) 0 calc(-0.063rem * var(--scale-size)) white,
		calc(3.2508rem * var(--scale-size)) calc(-1.375rem * var(--scale-size)) 0 calc(-0.625rem * var(--scale-size)) white,
		calc(3.938rem * var(--scale-size)) calc(-0.250rem * var(--scale-size)) 0 calc(-0.188rem * var(--scale-size)) white,
		calc(4.063rem * var(--scale-size)) calc(0.813rem * var(--scale-size)) 0 calc(-0.813rem * var(--scale-size)) white,
		calc(5.125rem * var(--scale-size)) calc(0.250rem * var(--scale-size)) 0 calc(-0.563rem * var(--scale-size)) white,
		
		calc(3.25rem * var(--scale-size)) calc(-1.25rem * var(--scale-size)) 0 calc(0.313rem * var(--scale-size)) rgba(255,255,0,1),
		calc(3.25rem * var(--scale-size)) calc(-1.25rem * var(--scale-size)) 0 calc(0.625rem * var(--scale-size)) rgba(255,255,0,0.5),
		calc(3.25rem * var(--scale-size)) calc(-1.25rem * var(--scale-size)) 0 calc(0.938rem * var(--scale-size)) rgba(255,255,0,0.25),
		calc(3.25rem * var(--scale-size)) calc(-1.25rem * var(--scale-size)) 0 calc(1.125rem * var(--scale-size)) rgba(255,255,0,0.1);

		
	height: calc(3.250rem * var(--scale-size));
	width: calc(3.250rem * var(--scale-size)); 
	
	animation:partially_cloud 10s ease-in-out infinite;
	
	margin:calc(1.438rem * var(--scale-size)) 0 0 calc(-4.813rem * var(--scale-size));

}


// *  WHITE CLOUD + MOON

._1003_night, ._1006_night, ._1063_night, ._1150_night, ._1153_night, ._1180_night, ._1183_night, ._1198_night, ._1204_night, ._1240_night, ._1249_night, ._1186_night, ._1243_night, ._1246_night, ._1249_night, ._1192_night, ._1210_night, ._1213_night, ._1216_night, ._1219_night, ._1222_night, ._1255_night, ._1258_night, ._1261_night, ._1264_night, ._1087_night, ._1273_night, ._1279_night, ._1189_night, ._1066_night, ._1069_night, ._1072_night, ._1168_night, ._1252_night {
	background: white;
	border-radius: 50%;
	color:currentColor;
	position:relative;
	
	box-shadow:
		0 0 0 calc(0.125rem * var(--scale-size)) white,
		inset 0 0 0 calc(0.125rem * var(--scale-size)) white,
		calc(1.438rem * var(--scale-size)) calc(-1.313rem * var(--scale-size)) 0 0 white,
		calc(1rem * var(--scale-size)) calc(0.688rem * var(--scale-size)) 0 calc(-0.5rem * var(--scale-size)) white,
		calc(2.500rem * var(--scale-size)) calc(0.375rem * var(--scale-size)) 0 calc(-0.063rem * var(--scale-size)) white,
		calc(3.2508rem * var(--scale-size)) calc(-1.375rem * var(--scale-size)) 0 calc(-0.625rem * var(--scale-size)) white,
		calc(3.938rem * var(--scale-size)) calc(-0.250rem * var(--scale-size)) 0 calc(-0.188rem * var(--scale-size)) white,
		calc(4.063rem * var(--scale-size)) calc(0.813rem * var(--scale-size)) 0 calc(-0.813rem * var(--scale-size)) white,
		calc(5.125rem * var(--scale-size)) calc(0.250rem * var(--scale-size)) 0 calc(-0.563rem * var(--scale-size)) white,
		
		
		calc(6.5rem * var(--scale-size)) calc(-2.75rem * var(--scale-size) / 2) 0 calc(0.5rem * var(--scale-size) / 2) currentColor,
		calc(5.35rem * var(--scale-size)) calc(-2.5rem * var(--scale-size) / 2) 0 calc(0.5rem * var(--scale-size)) #ddf7ff;
		
	height: calc(3.250rem * var(--scale-size));
	width: calc(3.250rem * var(--scale-size)); 	
	
	
	animation:partially_cloud_night 2s ease-in-out infinite;
	
	margin:calc(1.438rem * var(--scale-size)) 0 0 calc(-4.813rem * var(--scale-size));
}


// ? OVERCAST
// ? ===============================

// * SINGLE WHITE CLOUD

._1009_day, ._1009_night, ._1225_day, ._1225_night, ._1276_day, ._1276_night, ._1282_day, ._1282_night, ._1114_day, ._1114_night, ._1117_day, ._1117_night, ._1171_day, ._1171_night, ._1195_day, ._1195_night, ._1201_day, ._1201_night, ._1207_day, ._1207_night, ._1237_day, ._1237_night {
	animation: single_cloud 5s ease-in-out infinite;
	background: white;
	border-radius: 50%;
	position:relative;
	
	box-shadow:
	0 0 0 calc(0.125rem * var(--scale-size)) white,
	inset 0 0 0 calc(0.125rem * var(--scale-size)) white,
	calc(1.438rem * var(--scale-size)) calc(-1.313rem * var(--scale-size)) 0 0 white,
	calc(1rem * var(--scale-size)) calc(0.688rem * var(--scale-size)) 0 calc(-0.5rem * var(--scale-size)) white,
	calc(2.500rem * var(--scale-size)) calc(0.375rem * var(--scale-size)) 0 calc(-0.063rem * var(--scale-size)) white,
	calc(3.2508rem * var(--scale-size)) calc(-1.375rem * var(--scale-size)) 0 calc(-0.625rem * var(--scale-size)) white,
	calc(3.938rem * var(--scale-size)) calc(-0.250rem * var(--scale-size)) 0 calc(-0.188rem * var(--scale-size)) white,
	calc(4.063rem * var(--scale-size)) calc(0.813rem * var(--scale-size)) 0 calc(-0.813rem * var(--scale-size)) white,
	calc(5.125rem * var(--scale-size)) calc(0.250rem * var(--scale-size)) 0 calc(-0.563rem * var(--scale-size)) white;

		
	height: calc(3.250rem * var(--scale-size));
	width: calc(3.250rem * var(--scale-size)); 
	
	margin:calc(1.438rem * var(--scale-size)) 0 0 calc(-4.813rem * var(--scale-size));
}





._1030_day span, ._1030_night span, ._1035_day span, ._1135_night span, ._1147_day span, ._1147_night span {
	//SHARED NESTED SPAN
	display:block;
	width:inherit;
	height:inherit;
	background:inherit;
	border-radius:inherit;
}






// ? MIST
// ? ===============================

// * DAY + NIGHT


._1030_day span, ._1030_night span, ._1135_day span, ._1135_night span, ._1147_day span, ._1147_night span {
	
	display:inherit;
	
	width:100%;
	height:calc(0.625rem * var(--scale-size));
	background:transparent;
	border-radius:0;
	position:absolute;
	z-index:10;

	
}







