
@import url(./contents.scss);

:root {
	--scale-size:1.35;
}



// ? ALL ICONS WITH 
// ? ===============================

// * SUN

._1000_day, ._1030_day {
	border-radius: 50%;
	position:relative;	
	height: calc(5rem * var(--scale-size));
	width: calc(5rem * var(--scale-size)); 
}

// * MOON

._1000_night, ._1030_night {
	border-radius: 50%;	
	top: -1.625rem; 
	height: calc(6.25rem * var(--scale-size));
	width: calc(6.25rem * var(--scale-size));
	position: relative;
	left:2.15rem;	
	box-shadow: -1.563rem 0.625rem #ddf7ff;	
}


// ? PARTLY CLOUDY, CLOUDY, LIGHT RAIN, MODERATE RAIN, PATCHY RAIN, RAIN SHOWER
// ? LIGHT SNOW, PATCHY SNOW, SNOW SHOWER, MODERATE SNOW, THUNDER WITH SUN
// ? ============================================================================

// *  WHITE CLOUD + SUN

._1003_day, ._1006_day, ._1063_day, ._1150_day, ._1153_day, ._1180_day, ._1183_day, ._1198_day, ._1204_day, ._1240_day, ._1249_day, ._1186_day, ._1243_day, ._1246_day, ._1249_day, ._1192_day, ._1210_day, ._1213_day, ._1216_day, ._1219_day, ._1222_day, ._1255_day, ._1258_day, ._1261_day, ._1264_day, ._1087_day, ._1273_day, ._1279_day, ._1189_day {

	background: white;
	border-radius: 50%;
	
	position:relative;
	
	box-shadow:
		0 0 0 0.125rem white,
		inset 0 0 0 0.125rem white,
		1.438rem -1.313rem 0 0 white,
		1rem 0.688rem 0 -0.5rem white,
		2.500rem 0.375rem 0 -0.063rem white,
		3.2508rem -1.375rem 0 -0.625rem white,
		3.938rem -0.250rem 0 -0.188rem white,
		4.063rem 0.813rem 0 -0.813rem white,
		5.125rem 0.250rem 0 -0.563rem white,
		
		3.25rem -1.25rem 0 0.313rem rgba(255,255,0,1),
		3.25rem -1.25rem 0 0.625rem rgba(255,255,0,0.5),
		3.25rem -1.25rem 0 0.938rem rgba(255,255,0,0.25),
		3.25rem -1.25rem 0 1.125rem rgba(255,255,0,0.1);

		
	height: calc(3.250rem * var(--scale-size));
	width: calc(3.250rem * var(--scale-size)); 
	
	animation:partially_cloud 5s ease-in-out infinite;
	
	margin:1.438rem 0 0 -4.813rem;

}


// *  WHITE CLOUD + MOON

._1003_night, ._1006_night, ._1063_night, ._1150_night, ._1153_night, ._1180_night, ._1183_night, ._1198_night, ._1204_night, ._1240_night, ._1249_night, ._1186_night, ._1243_night, ._1246_night, ._1249_night, ._1192_night, ._1210_night, ._1213_night, ._1216_night, ._1219_night, ._1222_night, ._1255_night, ._1258_night, ._1261_night, ._1264_night, ._1087_night, ._1273_night, ._1279_night, ._1189_night {
	background: white;
	border-radius: 50%;
	color:inherit;
	position:relative;
	
	box-shadow:
		0 0 0 0.125rem white,
		inset 0 0 0 0.125rem white,
		1.438rem -1.313rem 0 0 white,
		1rem 0.688rem 0 -0.5rem white,
		2.500rem 0.375rem 0 -0.063rem white,
		3.2508rem -1.375rem 0 -0.625rem white,
		3.938rem -0.250rem 0 -0.188rem white,
		4.063rem 0.813rem 0 -0.813rem white,
		5.125rem 0.250rem 0 -0.563rem white,
		
		
		5.5rem -2.75rem 0 0.5rem currentColor,
		4.35rem -2.5rem 0 0.5rem #ddf7ff;
		
	height: calc(3.250rem * var(--scale-size));
	width: calc(3.250rem * var(--scale-size)); 	
	
	animation:partially_cloud_night 5s ease-in-out infinite;
	
	margin:1.438rem 0 0 -4.813rem;
}


// ? OVERCAST
// ? ===============================

// * SINGLE WHITE CLOUD

._1009_day, ._1009_night, ._1195_day, ._1195_night, ._1225_day, ._1225_night, ._1276_day, ._1276_night, ._1282_day, ._1282_night {
	animation: single_cloud 5s ease-in-out infinite;
	background: white;
	border-radius: 50%;
	position:relative;
	
	box-shadow:
		0 0 0 0.125rem white,
		inset 0 0 0 0.125rem white,
		1.438rem -1.313rem 0 0 white,
		1rem 0.688rem 0 -0.5rem white,
		2.500rem 0.375rem 0 -0.063rem white,
		3.2508rem -1.375rem 0 -0.625rem white,
		3.938rem -0.250rem 0 -0.188rem white,
		4.063rem 0.813rem 0 -0.813rem white,
		5.125rem 0.250rem 0 -0.563rem white;

		
	height: calc(3.250rem * var(--scale-size));
	width: calc(3.250rem * var(--scale-size)); 
	
	margin:1.438rem 0 0 -4.813rem;
}





._1030_day span, ._1030_night span {
	//SHARED NESTED SPAN
	display:block;
	width:inherit;
	height:inherit;
	background:inherit;
	border-radius:inherit;
}






// ? MIST
// ? ===============================

// * DAY


._1030_day span, ._1030_night span {
	
	display:inherit;
	
	width:100%;
	height:0.625rem;
	background:transparent;
	border-radius:0;
	position:absolute;
	z-index:10;

	
}







