/* 
*	================================================================
*	SHAPES
*
*	================================================================
* */


/* 
? CLEAR - DAYTIME
? =================================================== */

._113_yes, ._143_yes, ._248_yes, ._260_yes {
	border-radius: 50%;
	position:relative;	
	height: 5rem;
	width: 5rem; 
}