@import url(./globals.scss);
@import url(./icons/shapes.scss);

body {
    //background:#202020 none;
    background:#b7c781 none;
    overflow-y:hidden;

    transition:background 0.5s linear;
}

/*
* ===========================================
* TOP DIV - SEARCH
* =============================================*/

div.top {
    position:absolute;
	border:none;
	outline:none;
	top:0;
	left:0;
	z-index:10;
	transform: translateY(-3.438rem);
	transition: transform 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.5s;	
	width:100%;
	height:3.438rem;
 
    

    form div {
        position:relative;

        input {
            width:100%;
            padding:1.125rem;
            border:transparent;
            outline:transparent;
            border-bottom:#ebebeb 0.063rem solid;

            &[type="text"] {
                font-family:inherit;
                font-size:0.875rem;
                border-radius:0 !important;
            }
        }

        span {
            position:absolute;
            top:0;
            right:0;
            width:3.438rem;
            height:3.438rem;
            background:transparent url(../img/close.svg) no-repeat center center local;
            background-size:0.438rem 0.438rem;
            cursor:pointer;
        }
    }

    ul {
        list-style:none;
        padding:0;
        margin:0;
        text-align:left;	
        font-size:inherit;
        color:#666;
        font-size:0.750rem;
        background:#f5f5f5 none;
        position:relative;
        max-height:calc(100vh - 3.438rem);
        overflow-y:auto;
        

        li {
            position:relative;
            padding:1.125rem;
            border-bottom:#ebebeb 0.063rem solid;
            cursor:pointer;

            &:nth-child(even) {
                background:#ebebeb;
            }

            span {
                width:80%;
            }

            a {
                right:1.125rem;
                position:absolute;
                text-decoration:none;
                color:inherit;
                
                //display:none;
            }
        }
    }

    &.using {
        transform: translateY(0);	
	    transition-delay:1s;

        + div.holder {
            opacity:0;
        }
    }
}


/*
* ===========================================
* HOLDER DIV - APP BODY
* =============================================*/

div.holder {
    margin:0;
    padding:0;
    opacity:1;
    transition:opacity 0.5s linear 0.5s;

    // background:red none;
    // height:100vh;

    header {
        width:85%;
        margin:0 auto;
        padding:1.250rem 0 0 0;
        color:#fff;

        h3 {
            display:inline-block;
            vertical-align:top;
            width:50%;
            font-weight:400;
            text-transform:uppercase;
            font-size:0.750rem;
            letter-spacing:0.125rem;
            padding:0;
            margin:0;
            line-height:1.688;	
            cursor:pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:last-of-type {
                text-align:right;
                letter-spacing:0;
                font-size:1.5rem;
                margin:-0.750rem 0 0 0;
            }
        }
    }

    div.container {
        position:fixed;
        top:0;
        left:0;	
	    //height:calc(100% - 5.125rem);
	    height:calc(100% - 9.125rem);
        width:100%;
        text-align:center;        
        pointer-events:none;
        display:flex;
        align-items: center;
        justify-content: center;

        
    }

    footer {
        position:absolute;
        // bottom:4.166666666666667%;
        bottom:0;
        left:0;
        width:100%;
        color:#fff;

        //height:5.125rem;
        height:9.125rem;

        ul {
            list-style:none;	
            padding:0;
            margin:0;
            text-align:center;
            font-size:0.656rem; /* 10.5px font-size	*/
            text-transform:uppercase;
            line-height:1.688;	

            display:flex;
            align-items: center;
            justify-content: center;
            height:100%;

            li {
                // display:inline-block;
                width:33.33333%;
                // vertical-align:middle;
                height:100%;

                span:first-of-type, span:last-of-type {
                    display:block;
                }

                div.mini_wrapper {
                    color:#85ccc5; /* This needs to change dinamically	*/
                    transform:scale(.45);
                    padding:0.750rem 0;
                    position:relative;
                    text-align:center;
                    width:100%;
                    height:6rem;

                    >div {
                        position:relative;
	                    margin:0 auto;
                        
                        &._1192_day, &._1009_day, &._1009_night {
                            margin:0 auto;
                            left:-2.125rem;
                            top:1.5rem;
                            
                        } // ? FIX FOR ICONS WITH CLOUDS

                        &:after {
                            display:none
                        }
                    }
                }
            }
        }
    }
}
